.vs/
Debug/
Release/
ipch/
packages/

BACnet/BACnetWBM/bin/
BACnet/BACnetWBM/obj/
BACnet-dev-newest.ipk
libbacnet.check.bin

*.suo
*.user
*.log
*.o 
*.lo 
*.la 
*.al 
.libs 
*.so 
*.so.[0-9]* 
*.a 
*.pyc 
*.pyo 
__pycache__ 
*.rej 
*~ 
#*# 
.#* 
.*.swp 
.DS_Store 
[Tt]humbs.db
*.DFR